body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

.hero {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background: #111;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flyer {
  width: 400px;
  max-width: 90%;

  border-radius: 20px;

  box-shadow:
    0 0 20px rgba(255,0,0,0.5),
    0 0 40px rgba(255,165,0,0.3);
}

button {
  margin-top: 20px;

  background: red;
  color: white;

  border: none;

  padding: 18px 40px;

  font-size: 20px;

  cursor: pointer;

  border-radius: 10px;
}

button:hover {
  background: orange;
}
